:root {
    --sans-Serif: 'Open Sans', sans-serif;
    --condensed: 'Open Sans Condensed', sans-serif;
    --serif: 'Source Serif Pro', serif;
    /*--primaryCustom: #BF2753;*/
    --primaryCustom: #08638d;
    /*--secondaryCustom: #EAE1CB;*/
    --secondaryCustom: #051820;
    --accent: #049c64;
    --accentDark: #048556;
    --complement: #BE8083;
    --darkTone: #CE9B7E;
    --lightText: #FFFFFF;
    --pureBlack: #000000;
    /*--canvas: #065F74;*/
    --canvas: #aaaaaa;
}

body {
    overflow-x: hidden;
    background: var(--secondaryCustom);
    color: var(--lightText);
}

html {
    scroll-behavior: smooth;
}
