.card {
    background: var(--primaryCustom);
    color: var(--lightText);
    border-radius: 15px;
    min-height: 350px;
    max-height: 400px;
    font-family: var(--sans-Serif);
}

.card-header {
    font-family: var(--condensed);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
}

.titleText {
    font-family: var(--condensed);
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 40px;
    position: relative;
    text-align: center;
    margin: 32px 0;
}
.heading {
    font-family: var(--condensed);
    letter-spacing: 2px;
    font-weight: 700;
}

.titleText::after {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: -12px;
    left: 25%;
    background: var(--primaryCustom);
}

#defaultCanvas0 {
    display: block;
    margin: 2rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);
    background: var(--canvas);
}


.customBtn {
    color: var(--lightText);
    background: var(--accentDark);
    padding: 6px 36px;
    border-radius: 50px;
}

.customBtn:hover, .customBtn:focus {
    color: var(--lightText);
    background: var(--accent);
    padding: 6px 36px;
    border-radius: 50px;
}

.footer {
    color: var(--lightText);
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.referenceText {
    line-height: 32px;
    letter-spacing: 1px;
    text-align: justify;
    color: #dadada;
}