:root {
    --primaryFont: 'Merriweather', serif;;
    --secondaryFont: 'Montserrat', sans-serif;
    --primaryCustom: #BF2753;
    --secondary: #EAE1CB;
    --accent: #617873;
    --complement: #BE8083;
    --darkTone: #CE9B7E;
    --white: #FFFFFF;
    --black: #000000;
}

.card {
    background: var(--primaryCustom);
    color: var(--white);
    border-radius: 15px;
    height: 350px;
}

.card-title {
    font-family: var(--primaryFont);
    font-weight: 400;
    letter-spacing: 1px;
}